<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h2>List of Rooms</h2>

<table border="1">

    <tr>
        <th>Room Number</th>
        <th>is Booked ?</th>
        <th>Price per night</th>
    </tr>

    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomNo} ">Room Number</td>
        <td th:text="${room.isBooked} ">is Booked ?</td>
        <td th:text="${room.price} ">Price per night</td>
    </tr>

</table>

</body>
</html>