<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h2>List of Users</h2>

<table border="1">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Population</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"> id</td>
        <td th:text="${user.email}"> email</td>
        <td th:text="${user.enabled}"> enabled</td>
    </tr>

</table>

</body>
</html>